<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template/template :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div th:replace="template/template :: preloader"></div>

  <!-- Navbar -->
  <nav th:replace="template/template :: navbar"></nav>

  <!-- Main Sidebar Container -->
  <aside th:replace="template/template :: sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div th:replace="template/template :: content-header"></div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!--/*@thymesVar id="alumno" type="com.iunis.adminiunis.domain.Alumno"*/-->
            <form th:action="@{/usuarios/usuarioCreate}" method="post" th:object="${alumno}">

              <!--Es necesario para poder pasar la validacion del Model-->
              <!--/*@thymesVar id="editMode" type="java.lang.Boolean"*/-->
              <input class="form-control" type=hidden th:field="*{id}"  th:if="${editMode}" required>

              <div class="form-row">
                <div class="col-12"><h4>Datos Personales</h4></div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" th:field="*{datosPersonales.nombre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="apellidoPaterno">Apellido Paterno</label>
                    <input type="text" class="form-control" placeholder="Apellido Paterno" th:field="*{datosPersonales.apellidoPaterno}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="apellidoMaterno">Apellido Materno</label>
                    <input type="text" class="form-control" placeholder="Apellido Paterno" th:field="*{datosPersonales.apellidoMaterno}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="fechaNacimiento">Fecha de nacimiento</label>
                    <input type="date" class="form-control" placeholder="" th:field="*{datosPersonales.fechaNacimiento}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="estadoCivil">Estado civil</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosPersonales.estadoCivil}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="lugarNacimiento">Lugar de nacimiento</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosPersonales.lugarNacimiento}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nacionalidad">Nacionalidad</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosPersonales.nacionalidad}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="sexo">Sexo</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosPersonales.sexo}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Trabajo</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosPersonales.trabajo}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="beca">Beca</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosPersonales.beca}" required>
                  </div>
                </div>
                <div class="col-12"><h4>Datos Academicos</h4></div>
                <div class="col-3">
                  <label for="beca">Carrera</label>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Carrera...</option>
                    <option th:field="*{datosAcademicos.carrera}" value="Psicologia">Psicologia</option>
                    <option th:field="*{datosAcademicos.carrera}" value="Nutricion">Nutricion</option>
                    <option th:field="*{datosAcademicos.carrera}" value="Ingeniería">Ingeniería</option>
                  </select>
                </div>
                <div class="col-12"><h4>Datos Familiares</h4></div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Nombre del Padre</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.nombrePadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Apellidos</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.apellidoPadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Dirección</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.direccionPadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Celular</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.celularpadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Ocupacion</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.ocupacionPadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Nombre de la Madre</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.nombreMadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Apellidos</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.apellidoMadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Dirección</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.direccionMadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Celular</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.celularMadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Ocupacion</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.ocupacionMadre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="trabajo">Estado civil</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFamiliares.estadoCivil}" required>
                  </div>
                </div>
                <div class="col-12"><h4>Datos Financieros</h4></div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datospersonales.nombre}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Apellido Paterno</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datospersonales.apellidoPaterno}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Apellido Materno</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datospersonales.apellidoMaterno}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Dirección</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.direccion}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Ciudad</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.ciudad}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Estado</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.estado}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">CP</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.cp}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">País</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.pais}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Correo</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.correo}" required>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Teléfono</label>
                    <input type="text" class="form-control" placeholder="" th:field="*{datosFinancieros.datosUbicacion.telefono}" required>
                  </div>
                </div>
                <div class="col-12"><h4>Datos de salud</h4></div>



                <div class="col-12 text-right">
                  <button type="button" class="btn btn-secondary px-3" data-dismiss="modal">Cancelar</button>
                  <input type="submit" class="btn btn-primary px-3" th:value="${editMode} ? 'Guardar' : 'Crear' " onclick="return validateSaved();">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Footer -->
  <footer th:replace="template/template :: footer"></footer>

  <!-- Control Sidebar -->
  <aside th:replace="template/template :: control-sidebar"></aside>

</div>

<div th:replace="template/template :: js"></div>
</body>

</html>

