<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template/template :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div th:replace="template/template :: preloader"></div>

  <!-- Navbar -->
  <nav th:replace="template/template :: navbar"></nav>

  <!-- Main Sidebar Container -->
  <aside th:replace="template/template :: sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div th:replace="template/template :: content-header"></div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h1>Dashboard</h1>
        <div class="row">
          <div class="col-6">
            <!-- Donut chart -->
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Donut Chart
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="donut-chart" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Footer -->
  <footer th:replace="template/template :: footer"></footer>

  <!-- Control Sidebar -->
  <aside th:replace="template/template :: control-sidebar"></aside>

</div>

<div th:replace="template/template :: js-basic"></div>

<div th:replace="template/template :: js-grafico"></div>
<div th:replace="template/template :: js-custom"></div>
</body>

</html>
